 body, html {
    height: 100%;
}
.container {
    display: table;
    height: 100%;
    font-family: "Courier New", Courier, monospace;
}
@media (min-width: 768px) and (max-width: 991px) {
    .container{
        width:100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left:0px;
        margin-right:0px;
    }
}
.row {
    display: table-cell;
    height: 100%;
    vertical-align:middle;
    width: 780px;
}
.card{
    height: 60px;
}
.card-left{
    border: none;
}
@media (max-width: 768px) {
    .card-left{
        height: 60px;
        border-bottom: 1px dotted #414141;
    }
}
@media (min-width: 768px) {
    .card-left{
        text-align: right;
        border-right: 1px dotted #414141;
    }
}
.card-right{
    font-size: 120%;
}
.name{
    font-size:250%;
}
a, a:hover{
    color: #414141;
    text-decoration: none;
}